
 <!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>{{h2}}</h2>
  <form role="form" action="{{baseurl}}/login" >
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" class="form-control"  name = 'username' id="username" placeholder="Enter Username">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" name = 'password' id="pwd" placeholder="Enter Password">
    </div>
       <input type="hidden" name="userbutton"  value="Login">      
    <button type="submit" class="btn btn-default">Log In</button>
  </form>
</div>

</body>
</html>



   
   <div class="row">
                   
               
                
                
                <div id="alerts"></div>
				
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        
                          <div class="panel panel-default">
                              
                        <div class="panel-heading">
                           Make Flexiload
                        </div>
                                <div class="panel-body">
  
                                        <form role="form" method="post" action="{{baseUrl()}}/online/login/login">
                                        <div class="form-group">
                                            <label>Username</label>
                                            <input name="user_name" id="user_name" class="form-control">
                                        </div>
            
                                        <div class="form-group">
                                            <label>Password</label>
                                            <input name="user_pass" id="user_pass" class="form-control">
                                        </div>
                                            
                                        
                                             <div class="form-group">
                                            
                                               <input type="submit" name='user_button' value='Login'>
                                        
                                             </div>
                                            
                    </form></div>
                  




